<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>denglu</title>
</head>
<body>
{%  extends "theme.html" %}
{% block content %}
<h2 align = 'center'>登录Product Hunt账户</h2>
<form method = 'POST' action = '{% url '登录页面'%}' align = 'center'>
        {% csrf_token %}
        <br>
        用户名：
    <br>
        <input type="text" name = "用户名">

        <br>
        密码：
    <br>
        <input type="password" name = "密码">
    <br>
     {{ 错误}}
        <br>
        <br>
        <input  class = 'btn btn-primary' type="submit" value = "登录">
</form>
{% endblock content %}
</body>
</html>